.redzap-fab {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 8px 13px;
  border-radius: 999px;

  background-color: #e50914;
  color: #ffffff;

  font-family: var(--font-tittle);
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redzap-fab:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.45);
}

.redzap-fab_icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.redzap-fab_text {
  line-height: 1.2;
}

/* -------------------------
   RESPONSIVO
--------------------------*/

/* Tablets e telas médias */
@media (max-width: 1024px) {
  .redzap-fab {
    font-size: 15px;
    padding: 13px 24px;
    gap: 12px;
  }

  .redzap-fab_icon {
    width: 20px;
    height: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .redzap-fab {
    width: 100%;
    justify-content: center;

    font-size: 15px;
    padding: 16px 20px;
  }

  .redzap-fab_icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 640px) {
  .redzap-fab {
    width: 100%;
    max-width: 100%;

    border-radius: 40px;
    padding: 5px;

    justify-content: center;
  }

  .redzap-icon_text {
    flex: 1;
    text-align: center;
  }
}

