.product-card {
  background-color: #1f5a3a;
  border-radius: 24px;
  padding: 28px 24px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.product-card h3 {
  font-size: 42px;
  color: #fff;
  font-family: var(--font-tittle);
}

.product-card p {
  font-size: 22px;
  color: #e4e4e4;
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin: 12px 0;
}

.product-card strong {
  font-size: 40px;
  color: #f5a313;
  font-family: var(--font-tittle);
}

/* -------------------------
   MOBILE
-------------------------- */

@media (max-width: 768px) {
  .product-card h3 {
    font-size: 35px;
  }

  .product-card p {
    font-size: 20px;
  }

  .product-card strong {
    font-size: 38px;
  }

  .product-card img {
    max-height: 180px;
  }
}
