.status {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  border-radius: 999px;

  font-weight: 700;
  font-size: 18px;
  font-family: var(--font-tittle);

  background: #ffffff;
}

.status.aberto {
  color: #1e7f3b;
}

.status.fechado {
  color: #e02020;
}

.status-icon img {
  width: 22px;
  height: 22px;
}

/* MOBILE */
@media (max-width: 768px) {
  .status {
    font-size: 16px;
    padding: 8px 16px;
  }
}
