@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');
:root {
  --font-tittle: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 150vh;
  font-family: var(--font-body);
  background: linear-gradient(
    260deg,
    #040F09 0%,
    #1A4B30 100%
  );}

.container {
  max-width: 1300px;
  margin: 0 auto;

}



