.info-bar {
  width: 100%;
  overflow: hidden;

  background-color: #f6a313;
  padding: 14px 0;
}
.info-track {
  display: flex;
  width: max-content;

  animation: scroll 25s linear infinite;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 40px;

  font-family: var(--font-tittle);
  font-size: 18px;
  color: white;
  white-space: nowrap;
}

.info-item img {
  width: 35px;
  height: 35px;
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
  
}

@media (max-width: 768px) {
  .info-item {
    font-size: 16px;
    padding: 0 24px;
  }
}
