.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-title img {
  width: 65px;
}

.section-title h2 {
  font-size: 50px;
  font-family: var(--font-tittle);
  color: white;
}
