  .horario-section {
    padding: 50px 16px;
  }

  .horario-container {
    max-width: 1300px;
    margin: 0 auto;
  }

  /* HEADER */
  .horario-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 40px;
  }

  /* CARD */
  .horario-card {
    background: #1f5e3b;
    border-radius: 32px;
    padding: 40px 40px 0px 40px;
  }

  /* ======================
    BLOCO PRINCIPAL
  ====================== */

  .horario-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 40px;
    margin-top: 32px;
  }

  /* COLUNAS */
  .horario-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    text-align: center;
  }

  .horario-col img {
    width: 44px;
    height: 44px;
  }

  .horario-card h3 {
    color: #fff;
    font-size: 32px;
    font-family: var(--font-tittle);
    margin: 0;
    font-weight: 700;
  }

  /* ======================
    MASCOTE
  ====================== */

  .horario-mascote {
    width: 220px;
    height: auto;
    bottom: 0px;
    pointer-events: none;
    user-select: none;

    
  }



  /* OBS */
  .horario-observacao {
    display: block;
    margin-top: 28px;
    color: #f4a41d;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-tittle);
    text-align: center;
  }

  /* ======================
    MOBILE
  ====================== */

  @media (max-width: 768px) {
    .horario-section {
      padding: 0 16px;
    }

    .horario-container {
      max-width: 420px;
    }

    .horario-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .horario-card {
      padding: 28px 20px;
    }

    .horario-main {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .horario-col img {
      width: 32px;
      height: 32px;
    }

    .horario-card h3 {
      font-size: 22px;
    }

    /* mascote some no mobile */
    .horario-mascote {
      display: none;
    }

    .horario-observacao {
      font-size: 16px;
    }
  }
