.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

}

.section-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-title img {
  width: 56px;
}

.section-title h2 {
  font-size: 46px;
  font-family: var(--font-tittle);
  color: #fff;
}

/* -------------------------
   MOBILE
-------------------------- */

@media (max-width: 768px) {
  .section-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-bottom: 20px;
  }

  .section-title h2 {
    font-size: 32px;
    text-align: justify;
  }

  .section-title img {
    width: 42px;
  }
}
