.location-section {
  padding: 80px 0px;
  color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.location-title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.location-title h2 {
  font-size: 36px;
  font-weight: 700;
}

/* CONTENT */
.location-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}

/* MAP */
.map-container {
  border-radius: 16px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* INFO */
.location-info {
  display: flex;
  flex-direction: column;
  gap: 45px;
}


.address {
  font-size: 30px;
  line-height: 1.4;
  margin-left: 40px;
  font-family: var(--font-tittle);
  font-weight: 700;
}

.address span {
  color: #fbbf24;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: var(--font-tittle);
  font-weight: 700;
}

.info-item strong {
  font-size: 30px;
}

.info-item span {
  display: block;
  font-size: 30px;
  opacity: 0.9;
}

.info-item img {
  width: 50px;
  height: 50px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .location-content {
    grid-template-columns: 1fr;
  }

  .location-header {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
}
