.location-section {
  padding: 50px 0;
  color: #fff;
}

/* HEADER */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

/* CONTENT */
.location-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}

/* MAP */
.map-container {
  border-radius: 20px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 420px;
  border: 0;
}

/* INFO */
.location-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.address {
  font-size: 28px;
  line-height: 1.4;
  font-family: var(--font-tittle);
  font-weight: 700;
  margin-left: 30px;
}

.address span {
  color: #fbbf24;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-tittle);
  font-weight: 700;
}

.info-item img {
  width: 44px;
  height: 44px;
}

.info-item strong,
.info-item span {
  font-size: 26px;
}

/* -------------------------
   MOBILE
-------------------------- */
@media (max-width: 780px) {
  .location-section {
    padding: 0px 16px;
     width: 100%;
  max-width: 420px;
  margin: 0 auto;
  overflow-x: hidden;
  }

  .location-header {
    margin-top: 30px;
    flex-direction: column;
    align-items:flex-start;
    text-align: center;
    gap: 0px;
  }

  .location-header img{
    width: 30px;
    height: 35px;
  }

  .location-content {
    grid-template-columns: 1fr;
  }

  .map-container iframe {
    height: 320px;
    width: 315px;
    
  }

  .address {
    font-size: 22px;
    text-align: justify;
    margin-left: 25px;
  }

  .info-item strong,
  .info-item span {
    font-size: 20px;
  }

  .info-item img {
    width: 32px;
    height: 32px;
  }
}
