.location-section {
  padding: 100px 0;
  color: #fff;
}

/* HEADER */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

/* CONTENT */
.location-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}

/* MAP */
.map-container {
  border-radius: 20px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 420px;
  border: 0;
}

/* INFO */
.location-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.address {
  font-size: 28px;
  line-height: 1.4;
  font-family: var(--font-tittle);
  font-weight: 700;
}

.address span {
  color: #fbbf24;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-tittle);
  font-weight: 700;
}

.info-item img {
  width: 44px;
  height: 44px;
}

.info-item strong,
.info-item span {
  font-size: 26px;
}

/* -------------------------
   MOBILE
-------------------------- */
@media (max-width: 900px) {
  .location-section {
    padding: 80px 0;
  }

  .location-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location-content {
    grid-template-columns: 1fr;
  }

  .map-container iframe {
    height: 320px;
  }

  .address {
    font-size: 22px;
    text-align: center;
  }

  .info-item strong,
  .info-item span {
    font-size: 20px;
  }

  .info-item img {
    width: 32px;
    height: 32px;
  }
}
