.alert-sunday {
  margin-top: 80px;

  display: flex;
  align-items: center;
  gap: 32px;

  background: #f4a41d;
  border-radius: 24px;
  padding: 28px 32px;
}

.alert-icon {
  width: 88px;
  height: 88px;
  object-fit: contain;
}

.alert-text {
  color: #fff;
  font-size: 32px;
  font-family: var(--font-tittle);
  font-weight: 700;
  margin: 0;
}

/* -------------------------
   MOBILE
-------------------------- */

@media (max-width: 768px) {
  .alert-sunday {
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 20px;
  }

  .alert-icon {
    width: 56px;
    height: 56px;
  }

  .alert-text {
    font-size: 18px;
  }
}
