.product-card {
  background-color: #1f5a3a;
  border-radius: 28px;
  padding: 32px 28px;

  display: flex;
  flex-direction: column;
 

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.product-card h3 {
  font-size: 48px;
  color: white;
  font-family: var(--font-tittle);
}

.product-card p {
  font-size: 24px;
  color: #e4e4e4;
 
}

.product-card img {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  margin: 12px 0;
}

.product-card strong {
  font-size: 48px;
  color: #f5a313;
  font-family: var(--font-tittle);
  
}
